.shape-bg-1 {
    background-color: #67b91d;
}

.shape-bg-2 {
    background-color: #db2121;
}

.shape-bg-3 {
    background-color: #0c17a5;
}

.shape-bg-4 {
    background-color: #7d7e0f;
}

.shape-bg-5 {
    background-color: #880862;
}

.shape-bg-6 {
    background-color: #b36d13;
}